.skills {
    @include media-breakpoint-up(xl) {
        font-size: 22px;
    }
    .skills-container {
        text-align: center;

        .skill-title {
            color: $secondary;
            margin-bottom: 15px;
        }

        .skills-list {
            padding: 0;
            list-style: none;

            &-item {
                margin: 8px 0;
            }
        }
    }
}