section.hero.contact#contact.mt-4.mt-5
    div
        h2.contact-title Contact me
    div.text-center
        p.h3.my-4 If you want to know more about me or my work, 
            br
            | feel free to contact me at
        a(href="mailto:web.markyn@gmail.com").h5 web.markyn@gmail.com
        include _socials