section.contact#contact.my-4.mt-5.row
    .col-12
        h2.contact-title.h1 Contact me
    .col-lg-9.offset-lg-3
        p.h3.my-4 If you want to know more about me or my work, 
            br
            | feel free to contact me on
        a(href="mailto:web.markyn@gmail.com").h5 web.markyn@gmail.com
        include _socials