section.projects#projects.my-4
    h2.section-title Projects
    .row.projects-container.mt-4
        +project('Facebook Clone', require("../assets/facebook.png").default, 'Ruby on Rails/RSpec/Omniauth', 'http://github.com/webmarkyn/facebook-clone')
        +project('Battleship Game', require("../assets/battleship.png").default, 'JS(ES6)/Webpack/JEST', 'http://github.com/webmarkyn/js-battleship')
        +project('Weather App', require("../assets/weather.png").default, 'JS(ES6)/AJAX', 'http://github.com/webmarkyn/weather-app')
