section.projects#projects.my-4
    h2 Projects
    .row.projects-container.mt-4
        +project('Facebook Clone', require("../assets/facebook.png").default, 'Ruby on Rails/RSpec/Omniauth', 'none')
        +project('Battleship Game', require("../assets/battleship.png").default, 'JS(ES6)/Webpack/JEST', 'none')
        +project('Weather App', require("../assets/weather.png").default, 'JS(ES6)/AJAX', 'none')
