section.projects.hero#projects.my-4
    h2.section-title Projects
    .row.projects-container.mt-4
        +project('GameExplorer', require("../assets/game.png").default, 'React/Redux/Routes', 'http://github.com/webmarkyn/game-explorer', 'https://game-explorer.herokuapp.com')
        +project('BookStore App', require("../assets/book.png").default, 'React/Redux', 'http://github.com/webmarkyn/redux-bookstore', 'http://redux-microverse-bookstore.herokuapp.com/')
        +project('Calculator', require("../assets/calc.png").default, 'React', 'http://github.com/webmarkyn/react-calculator', 'https://microverse-react-calculator.herokuapp.com')
        +project('Facebook Clone', require("../assets/facebook.png").default, 'Ruby on Rails/RSpec/Omniauth', 'http://github.com/webmarkyn/facebook-clone', 'https://floating-wave-46859.herokuapp.com')
        +project('Battleship Game', require("../assets/battleship.png").default, 'JS(ES6)/Webpack/JEST', 'http://github.com/webmarkyn/js-battleship')
        +project('Weather App', require("../assets/weather.png").default, 'JS(ES6)/AJAX', 'http://github.com/webmarkyn/weather-app', 'https://htmlpreview.github.io/?https://github.com/webmarkyn/weather-app/blob/feature/weather/dist/index.html')
