.socials.d-flex.justify-content-center.h2.mt-4
    a(href="http://github.com/webmarkyn")
        i.fab.fa-github
    a(href="https://twitter.com/WebMarkyn")
        i.fab.fa-twitter
    a(href="https://www.linkedin.com/in/mark-baidebura/")
        i.fab.fa-linkedin
    a(href="https://angel.co/mark-baidebura")
        i.fab.fa-angellist