html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet")
        title Mark Baidebura
    body
        .container
            .row
                include header.pug
                include main.pug
                .col-lg-12
                    footer
                        p.text-center Designed & Developer by Mark Baidebura

