mixin project(name, image, technologies, link)
    .col-lg-4
        .project
            img(src=image, alt="project screenshot").w-100.h-100
            .project-cover.d-flex.flex-column.justify-content-center.align-items-center
                p.project-name.font-weight-bold= name
                p.project-technologies= technologies
                a(href=link).project-link
                    i.fab.fa-github.h3