header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include media-breakpoint-down(md) {
    padding-top: 2vh;
  }
}

.navbar {
  background: $main-color;
}

.navbar-nav .contact {
  border: 1px solid $secondary;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  margin-left: 10px;

  &:hover {
    background: $secondary;

    & a.nav-link {
      color: $main-color;
    }
  }
}

.about {
  font-family: "Oswald", sans-serif;

  .avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid $secondary;
    margin-top: -200px;

    @include media-breakpoint-down(md) {
      position: relative;
      margin-top: -35vw;
      width: 35vw;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .name {
    @include media-breakpoint-up(xl) {
      font-size: 4rem;
    }
  }

  .position {
    text-decoration: underline;
    text-decoration-color: $secondary;
    text-transform: uppercase;

    @include media-breakpoint-up(xl) {
      font-size: 5.2rem;
    }
  }

  .down-arrow {
    position: absolute;
    bottom: 10vh;
    a {
      color: $secondary;
      transition: 0.2s ease-in-out;
      position: relative;

      &:hover {
        top: 3px;
      }
    }
  }
}
