header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: $main-color;
}

.navbar-nav .contact {
  border: 1px solid $secondary;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  margin-left: 10px;

  &:hover {
    background: $secondary;

    & a.nav-link {
      color: $main-color;
    }
  }
}

.about {
  font-family: "Quicksand", sans-serif;

  .avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid $secondary;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .position {
    text-decoration: underline;
    text-decoration-color: $secondary;
  }

  .down-arrow {
    a {
      color: $secondary;
      transition: 0.2s ease-in-out;
      position: relative;
      top: 0;

      &:hover {
        top: 3px;
      }
    }
  }
}
