@import "partials/skills.scss";
@import "partials/projects.scss";
@import "partials/contact.scss";

.section-title {
  color: $secondary;
  text-align: center;
  font-weight: bold;

  @media (min-width: 1366px) {
    font-size: 4.5rem;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  @media (max-width: 1366px) {
    height: auto;
    margin-bottom: 50px;
  }
}

